#header {
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
  padding: 10px;
  height: 100px;
  position: fixed;
}

#headerdiv {
  height: 100px;
  width: 100%;
}
  
  
#ostlogo {
  float: right;
  height: 80px;
}

