#header {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px;
    height: 200px;
    position: fixed;
  }

#headerdiv {
  height: 200px;
  width: 100%;
}
  
  
img {
    float: left;
  }
  
/* CSS für Menu

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    float: right;  
  }
  
li {
    display: block;
    color: black;
    text-align: right;
    padding: 16px;
    text-decoration: none;
    width: 90%;
    
  }
*/