/*
Der Header ist nicht fixiert. Dies wurde kundenseitig gewünscht
*/

#header {
  width: 100%;
  background-color: white;
  padding: 10px;
  height: 15vh;
  margin-bottom: 8vh; /*damit Login Componente nicht am Header klebt*/
}

#logo {
  float: right;
  align-items: center;
  width: 35vh;
}

#logo-row{
  border-bottom: 0.5vh solid black;
  height: 17vh;
}

#linie1-row{
  height: 1.5vh;
  background-color: #8F352D;
}

#linie2-row{
  height: 1vh;
  background-color: #AA4942;
}

#linie3-row{
  height: 1vh;
  background-color: #C4615B;
}
