#font {
    font-size: 15px;
    margin-bottom: 5vh;
    height: 58vh;
    border-right: 1px solid black;
    position: relative;
}

#willkommen-row{
    font-size: 3vh;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-row{
    height: auto;
    margin-bottom: 1vh;
}

.input-group {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

#nicknameEingabe{
    float: left;
    width: 65%;
    height: 35px; 
    resize: none;                   /*damit Benutzer das Feld in der Grösse nicht verändern kann */
    padding: 1vh;
    border-radius: 5px;
    background-color: #AA4942;
    color: white; 
}

::placeholder{
    color: white;
}

#buttonBestätigen{
    width: 30%;
    height: 35px; 
    padding: 0;
    border-radius: 5px;
    background-color: #8F352D;
    color: white;
}

#error-row{
    background-color: #f99b99;
}
