<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EasyChat</title>
</head>
<body>
  <div>
    <app-header>
      <!-- Dies ist der Header. In header.component.html bearbeiten -->
    </app-header>
  </div>
  <div id="content">
    Dies ist der Content.
  </div>
  <div>
    <app-footer>
      <!-- Dies ist der Footer. In footer.component.html bearbeiten -->
    </app-footer>
  </div>
</body>
</html>