#font {
    font-family: Arial, Helvetica, sans-serif;
}

#grauerbereich {
    background-color: #F2F2F2;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    margin: 20px;
    padding-bottom: 20px;

}

#ausgabefeld {
    min-height: 90px;
    padding: 5px 15px 5px 15px;
    margin-top: 100px;
    border: 0px;
    color: black;
    border-radius: 5px;
}

#eingabefeld {
    width: 70%;
    height: 35px;
    resize: none;
    padding: 5px 15px 5px 15px;
    border: 0px;
    background-color: #D72864;
    color: white;
    border-radius: 5px;    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

#meinbutton {
    margin-left: 20px;
    width: 25%;
    border-radius: 5px;
    border: 0px;
    padding: 5px 15px 5px 15px;
    background-color: #8C195F;
    color: white;

}

#meinbutton:disabled {
    background-color: #ca73a9;
}